@import "variables.css";

/* Classes utilitárias para border-radius */
.border-radius-2 {
  border-radius: var(--border-radius-2) !important;
}
.border-radius-4 {
  border-radius: var(--border-radius-4) !important;
}
.border-radius-6 {
  border-radius: var(--border-radius-6) !important;
}
.border-radius-8 {
  border-radius: var(--border-radius-8) !important;
}
.border-radius-10 {
  border-radius: var(--border-radius-10) !important;
}
.border-radius-12 {
  border-radius: var(--border-radius-12) !important;
}
.border-radius-14 {
  border-radius: var(--border-radius-14) !important;
}
.border-radius-16 {
  border-radius: var(--border-radius-16) !important;
}
.border-radius-18 {
  border-radius: var(--border-radius-18) !important;
}
.border-radius-20 {
  border-radius: var(--border-radius-20) !important;
}
.border-radius-22 {
  border-radius: var(--border-radius-22) !important;
}
.border-radius-24 {
  border-radius: var(--border-radius-24) !important;
}
.border-radius-26 {
  border-radius: var(--border-radius-26) !important;
}
.border-radius-28 {
  border-radius: var(--border-radius-28) !important;
}
.border-radius-30 {
  border-radius: var(--border-radius-30) !important;
}
