/* Classes utilitárias para tamanhos de fonte */
.font-size-2 {
  font-size: var(--font-size-2) !important;
}
.font-size-4 {
  font-size: var(--font-size-4) !important;
}
.font-size-6 {
  font-size: var(--font-size-6) !important;
}
.font-size-8 {
  font-size: var(--font-size-8) !important;
}
.font-size-10 {
  font-size: var(--font-size-10) !important;
}
.font-size-12 {
  font-size: var(--font-size-12) !important;
}
.font-size-14 {
  font-size: var(--font-size-14) !important;
}
.font-size-16 {
  font-size: var(--font-size-16) !important;
}
.font-size-18 {
  font-size: var(--font-size-18) !important;
}
.font-size-20 {
  font-size: var(--font-size-20) !important;
}
.font-size-22 {
  font-size: var(--font-size-22) !important;
}
.font-size-24 {
  font-size: var(--font-size-24) !important;
}
.font-size-26 {
  font-size: var(--font-size-26) !important;
}
.font-size-28 {
  font-size: var(--font-size-28) !important;
}
.font-size-30 {
  font-size: var(--font-size-30) !important;
}
.font-size-32 {
  font-size: var(--font-size-32) !important;
}
.font-size-34 {
  font-size: var(--font-size-34) !important;
}
.font-size-36 {
  font-size: var(--font-size-36) !important;
}
.font-size-38 {
  font-size: var(--font-size-38) !important;
}
.font-size-40 {
  font-size: var(--font-size-40) !important;
}
.font-size-42 {
  font-size: var(--font-size-42) !important;
}
.font-size-44 {
  font-size: var(--font-size-44) !important;
}
.font-size-46 {
  font-size: var(--font-size-46) !important;
}
.font-size-48 {
  font-size: var(--font-size-48) !important;
}
.font-size-50 {
  font-size: var(--font-size-50) !important;
}
