/* Variáveis de Cores */
:root {
  --color-black-900: #1a1a1a;
  --color-white-800: #ffffff;

  --color-blue-900: #00466d;
  --color-blue-800: #005788;
  --color-blue-700: #0068a3;
  --color-blue-600: #007abe;
  --color-blue-500: #008bd9;
  --color-blue-400: #3ba6e2;
  --color-blue-300: #77c1eb;
  --color-blue-200: #b2dcf4;
  --color-blue-100: #edf7fc;

  --color-gray-900: #222427;
  --color-gray-800: #3f4247;
  --color-gray-700: #4c4f55;
  --color-gray-600: #585c63;
  --color-gray-500: #656971;
  --color-gray-400: #898c92;
  --color-gray-300: #adafb3;
  --color-gray-200: #dcdee0;
  --color-gray-100: #f6f7fb;

  --color-green-900: #115111;
  --color-green-800: #156515;
  --color-green-700: #1a7919;
  --color-green-600: #1e8d1d;
  --color-green-500: #22a121;
  --color-green-400: #55b755;
  --color-green-300: #89cd88;
  --color-green-200: #bce3bc;
  --color-green-100: #d7fdd7;

  --color-magenta-900: #741626;
  --color-magenta-800: #901b2f;
  --color-magenta-700: #ad2038;
  --color-magenta-600: #ca2642;
  --color-magenta-500: #e72b4b;
  --color-magenta-400: #ed5c75;
  --color-magenta-300: #f28e9f;
  --color-magenta-200: #f8bfc9;
  --color-magenta-100: #fdf0f2;

  --color-orange-900: #802b18;
  --color-orange-800: #9f361e;
  --color-orange-700: #bf4124;
  --color-orange-600: #df4b2a;
  --color-orange-500: #ff5630;
  --color-orange-400: #ff7d60;
  --color-orange-300: #ffa590;
  --color-orange-200: #ffccc0;
  --color-orange-100: #fff3f1;

  --color-purple-900: #2e2e80;
  --color-purple-800: #3a3a9f;
  --color-purple-700: #4545bf;
  --color-purple-600: #5151df;
  --color-purple-500: #5c5cff;
  --color-purple-400: #8282ff;
  --color-purple-300: #a8a8ff;
  --color-purple-200: #ceceff;
  --color-purple-100: #f4f4ff;

  --color-red-900: #802b18;
  --color-red-800: #9f361e;
  --color-red-700: #bf4124;
  --color-red-600: #df4b2a;
  --color-red-500: #ff5630;
  --color-red-400: #ff7d60;
  --color-red-300: #ffa590;
  --color-red-200: #ffccc0;
  --color-red-100: #fff3f1;

  --color-yellow-900: #805600;
  --color-yellow-800: #9f6b00;
  --color-yellow-700: #bf8000;
  --color-yellow-600: #df9600;
  --color-yellow-500: #ffab00;
  --color-yellow-400: #ffbf3b;
  --color-yellow-300: #ffd277;
  --color-yellow-200: #ffe6b2;
  --color-yellow-100: #fff9ed;

  /* Tamanhos de Fonte */
  --font-size-2: 2px;
  --font-size-4: 4px;
  --font-size-6: 6px;
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-34: 34px;
  --font-size-36: 36px;
  --font-size-38: 38px;
  --font-size-40: 40px;
  --font-size-42: 42px;
  --font-size-44: 44px;
  --font-size-46: 46px;
  --font-size-48: 48px;
  --font-size-50: 50px;

  /* Border Radius */
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-14: 14px;
  --border-radius-16: 16px;
  --border-radius-18: 18px;
  --border-radius-20: 20px;
  --border-radius-22: 22px;
  --border-radius-24: 24px;
  --border-radius-26: 26px;
  --border-radius-28: 28px;
  --border-radius-30: 30px;
  --border-radius-32: 32px;
  --border-radius-34: 34px;
  --border-radius-36: 36px;
  --border-radius-38: 38px;
  --border-radius-40: 40px;

  /* Tipografia */
  --main-source: "Inter", sans-serif;
  --secondary-source: "Roboto", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
